.breadcrumb {
  display:inline; margin:3px;
  font-size:18px;
}

.breadcrumb .home {
  font-size:28px;
  cursor:pointer; cursor:hand;
}

.breadcrumb .arrow {
  margin:3px;
  font-size:15px;
}

.breadcrumb .clickable_path_item {
  text-decoration:underline;
  cursor:pointer; cursor:hand;
}
