.popup .popup_content {
	position:absolute; padding:10px;
	background:#c6ccd5d9;
	border:medium none; border-radius:10px; box-shadow:0px 0px 4px rgba(0, 0, 0, 0.14), 0px 4px 8px rgba(0, 0, 0, 0.28);
}

.popup .grayout {
	position:fixed; top:0px; right:0px; width:100%; height:100%;
	background:#0000005c;
}
