.inventory_folder_child {
  float:left; width:75px; height:80px; margin:0px; margin-left:5px; margin-top:5px; padding:5px;
  text-align:center;
  overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
  border:none; border-radius:5px;
  cursor:pointer; cursor:hand;
}

.inventory_folder_child .symbol {
  display:block; width:55px; height:55px; margin:10px; margin-top:0px; margin-bottom:5px;
  background-color:white; border:none; border-radius:5px; box-shadow:0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  font-size:50px;
}

.inventory_folder_child .name  {
  position:relative;
  font-size:14px;
}

.inventory_folder_child:hover {
	background-color:#f5f1e0
}
