html {
	-webkit-touch-callout:none; -moz-user-select:none; -webkit-user-select:none; /*HACK: Fix iOS oncontextmenu event*/
	background:#c6ccd5;
}

body {
	margin:0px;
  color:#3D557E; font-family: "Times New Roman", Times, serif;
}

input {
	width:130px; margin:5px;
	border:none; border-radius:3px;
	font-size:15px; color:#3D557E; font-family: "Times New Roman", Times, serif;
}

p {
	margin-left:5px; margin-right:5px;
}

button {
	margin:5px; height:30px;
	font-size:18px; color:#3D557E; font-family: "Times New Roman", Times, serif;
	background-color:white; border:none; border-radius:5px; box-shadow:0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	cursor:pointer; cursor:hand;
}

button:disabled {
	opacity:0.5
}

button:hover {
	background-color:#f5f1e0
}
